@import 'tailwindcss';

:root {
  --font-mono: 'IBM Plex Mono', monospace;
  --font-sans: 'Inter', system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
}

.font-mono {
  font-family: var(--font-mono);
}
